default_config:
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
shell_command: !include shell_commands.yaml
frontend:
  themes: !include themes.yaml
homeassistant:
  customize: !include customize.yaml

datadog:
discovery:
smartir:

tts:
  - platform: google_translate

mqtt:
  discovery: true
  password: !secret mqtt_password
  birth_message:
    topic: hass/status
    payload: online
  will_message:
    topic: hass/status
    payload: offline

device_tracker:
  - platform: unifi
    host: 192.168.1.2
    username: homeassistant
    password: !secret unifi_password
    verify_ssl: false
    interval_seconds: 5
    new_device_defaults:
      track_new_devices: false
      hide_if_away: false

homekit:
  auto_start: false
  filter:
    exclude_domains:
      - automation
      - device_tracker
      - remote
    exclude_entities:
      - binary_sensor.remote_ui
      - binary_sensor.livingroom_outlet_tv_state
      - switch.0x00124b001838b864_switch_right
      - switch.0x00124b0018028fd6_switch_right
      - switch.0x00124b0018034c86_switch_right
      - switch.0x00124b001803573a_switch_right
      - switch.0x00124b00180358d3_switch_right
      - switch.0x00124b001838d640_switch_left
      - switch.0x00124b001838d640_switch_right
      - switch.0x00124b001838d9fe_switch_right
      - switch.livingroom_outlet_tv
      - switch.bathroom_outlet_washer
      - switch.kitchen_outlet_dishwasher

apple_tv:
  - host: 192.168.1.15
    login_id: !secret atv_login_id
    credentials: !secret atv_credentials

sensor:
  - platform: pi_hole
  - platform: mqtt
    name: krasnoukhov_weight
    state_topic: miscale/krasnoukhov_weight/kg
    value_template: "{{ value }}"
    unit_of_measurement: kg
    expire_after: 172800
  - platform: mqtt
    name: darianiff_weight
    state_topic: miscale/darianiff_weight/kg
    value_template: "{{ value }}"
    unit_of_measurement: kg
    expire_after: 172800
  - platform: template
    sensors:
      tv_power:
        friendly_name: tv-power
        unit_of_measurement: watt
        value_template: |
          {{ state_attr('switch.livingroom_outlet_tv', 'current_power_w')|float }}
      washer_power:
        friendly_name: washer-power
        unit_of_measurement: watt
        value_template: |
          {{ state_attr('switch.bathroom_outlet_washer', 'current_power_w')|float }}
      washer_status:
        friendly_name: washer-status
        value_template: |
          {{ states('input_select.washer_status') }}
      dishwasher_power:
        friendly_name: dishwasher-power
        unit_of_measurement: watt
        value_template: |
          {{ state_attr('switch.kitchen_outlet_dishwasher', 'current_power_w')|float }}
      dishwasher_status:
        friendly_name: dishwasher-status
        value_template: |
          {{ states('input_select.dishwasher_status') }}

binary_sensor:
  - platform: template
    sensors:
      livingroom_outlet_tv_state:
        value_template: |
          {{ state_attr('switch.livingroom_outlet_tv', 'current_power_w')|float > 5 }}

switch:
  - platform: broadlink
    host: 192.168.1.20
    mac: !secret livingroom_ir_mac
    type: rm_mini
  - platform: broadlink
    host: 192.168.1.21
    mac: !secret livingroom_outlet_tv_mac
    type: sp3
    friendly_name: livingroom-outlet-tv
    scan_interval: 3
  - platform: broadlink
    host: 192.168.1.22
    mac: !secret bathroom_outlet_washer_mac
    type: sp3
    friendly_name: bathroom-outlet-washer
  - platform: broadlink
    host: 192.168.1.23
    mac: !secret kitchen_outlet_dishwasher_mac
    type: sp3
    friendly_name: kitchen-outlet-dishwasher

climate:
  - platform: smartir
    name: livingroom-ac
    unique_id: livingroom_ac
    device_code: 1180
    controller_data: 192.168.1.20
    temperature_sensor: sensor.0x00158d0002f2ed1f_temperature
    humidity_sensor: sensor.0x00158d0002f2ed1f_humidity

media_player:
  - platform: smartir
    name: livingroom-tv
    unique_id: livingroom_tv
    device_code: 1020
    controller_data: 192.168.1.20
    power_sensor: binary_sensor.livingroom_outlet_tv_state

input_select:
  washer_status:
    name: washer-status
    icon: mdi:washing-machine
    options:
      - idle
      - running
      - clean
      - open
    initial: idle
  dishwasher_status:
    name: dishwasher-status
    icon: mdi:dishwasher
    options:
      - dirty
      - running
      - clean
      - open
    initial: dirty

notify:
  - name: dmitry
    platform: group
    services:
      - service: ios_krasnoukhov_iphone
  - name: daria
    platform: group
    services:
      - service: ios_darias_iphone
  - name: people
    platform: group
    services:
      - service: ios_krasnoukhov_iphone
      - service: ios_darias_iphone
