default_config:
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
shell_command: !include shell_commands.yaml
frontend:
  themes: !include themes.yaml
homeassistant:
  customize: !include customize.yaml

datadog:
discovery:
smartir:

tts:
  - platform: google_translate

mqtt:
  discovery: true
  broker: 192.168.1.2
  birth_message:
    topic: hass/status
    payload: online
  will_message:
    topic: hass/status
    payload: offline

homekit:
  auto_start: false
  filter:
    exclude_domains:
      - automation
      - device_tracker
      - remote
      - script
    exclude_entities:
      - binary_sensor.remote_ui
      - binary_sensor.livingroom_outlet_tv_state
      - binary_sensor.0x00124b00194a06da_router
      - switch.0x00124b001838b864_switch_right
      - switch.0x00124b0018028fd6_switch_right
      - switch.0x00124b0018034c86_switch_right
      - switch.0x00124b001803573a_switch_right
      - switch.0x00124b00180358d3_switch_right
      - switch.0x00124b001838d640_switch_left
      - switch.0x00124b001838d640_switch_right
      - switch.0x00124b001838d9fe_switch_right
      - switch.livingroom_outlet_tv
      - switch.bathroom_outlet_washer
      - switch.kitchen_outlet_dishwasher

apple_tv:
  - host: 192.168.1.15
    login_id: !secret atv_login_id
    credentials: !secret atv_credentials

sensor:
  - platform: pi_hole
  - platform: mqtt
    name: krasnoukhov_weight
    state_topic: miscale/weight/kg
    value_template: >-
      {%- if value|float >= 70 and is_state('person.dmitry', 'home') -%}
        {{ value }}
      {%- else -%}
        {{ states('sensor.krasnoukhov_weight') }}
      {%- endif -%}
    unit_of_measurement: kg
    force_update: true
  - platform: mqtt
    name: darianiff_weight
    state_topic: miscale/weight/kg
    value_template: >-
      {%- if value|float < 70 and value|float > 30 and is_state('person.daria', 'home') -%}
        {{ value }}
      {%- else -%}
        {{ states('sensor.darianiff_weight') }}
      {%- endif -%}
    unit_of_measurement: kg
    force_update: true
  - platform: mqtt
    name: zigbee_map
    state_topic: zigbee2mqtt/bridge/networkmap/raw
    value_template: >-
      {{ now().strftime('%Y-%m-%d %H:%M:%S') }}
    json_attributes_topic: zigbee2mqtt/bridge/networkmap/raw
  - platform: template
    sensors:
      tv_power:
        friendly_name: tv-power
        unit_of_measurement: watt
        value_template: |
          {{ state_attr('switch.livingroom_outlet_tv', 'current_power_w')|float }}
      washer_power:
        friendly_name: washer-power
        unit_of_measurement: watt
        value_template: |
          {{ state_attr('switch.bathroom_outlet_washer', 'current_power_w')|float }}
      washer_state:
        friendly_name: washer-state
        icon_template: |
          {% if is_state('input_select.washer_status', 'clean') %}
            mdi:home-alert
          {% else %}
            mdi:washing-machine
          {% endif %}
        value_template: |
          {{ states('input_select.washer_status')|capitalize }}
      dishwasher_power:
        friendly_name: dishwasher-power
        unit_of_measurement: watt
        value_template: |
          {{ state_attr('switch.kitchen_outlet_dishwasher', 'current_power_w')|float }}
      dishwasher_state:
        friendly_name: dishwasher-state
        icon_template: |
          {% if is_state('input_select.dishwasher_status', 'clean') %}
            mdi:home-alert
          {% else %}
            mdi:dishwasher
          {% endif %}
        value_template: |
          {{ states('input_select.dishwasher_status')|capitalize }}
      air_purifier_aqi:
        friendly_name: air-purifier-aqi
        unit_of_measurement: aqi
        value_template: |
          {{ state_attr('fan.air_purifier', 'aqi')|int }}
  - platform: rest
    resource: http://192.168.1.25/api/map/latest
    name: roborock_map
    json_attributes:
      - image
      - path
      - charger
      - robot
    value_template: "OK"
    scan_interval: 30
  - platform: time_date
    display_options:
      - time
      - date
  - platform: unifigateway
    host: 192.168.1.2
    username: homeassistant
    password: !secret unifi_password
    monitored_conditions:
      - www
      - lan
      - wan
      - wlan
      - alerts
      - firmware

binary_sensor:
  - platform: template
    sensors:
      livingroom_outlet_tv_state:
        value_template: |
          {{ state_attr('switch.livingroom_outlet_tv', 'current_power_w')|float > 5 }}

switch:
  - platform: broadlink
    host: 192.168.1.20
    mac: !secret livingroom_ir_mac
    type: rm_mini
  - platform: broadlink
    host: 192.168.1.21
    mac: !secret livingroom_outlet_tv_mac
    type: sp3
    friendly_name: livingroom-outlet-tv
    scan_interval: 3
  - platform: broadlink
    host: 192.168.1.22
    mac: !secret bathroom_outlet_washer_mac
    type: sp3
    friendly_name: bathroom-outlet-washer
  - platform: broadlink
    host: 192.168.1.23
    mac: !secret kitchen_outlet_dishwasher_mac
    type: sp3
    friendly_name: kitchen-outlet-dishwasher

climate:
  - platform: smartir
    name: livingroom-ac
    unique_id: livingroom_ac
    device_code: 1180
    controller_data: 192.168.1.20
    temperature_sensor: sensor.0x00158d0002f2ed1f_temperature
    humidity_sensor: sensor.0x00158d0002f2ed1f_humidity

media_player:
  - platform: smartir
    name: livingroom-tv
    unique_id: livingroom_tv
    device_code: 1020
    controller_data: 192.168.1.20
    power_sensor: binary_sensor.livingroom_outlet_tv_state

input_select:
  washer_status:
    name: washer-status
    icon: mdi:washing-machine
    options:
      - idle
      - running
      - clean
      - open
  dishwasher_status:
    name: dishwasher-status
    icon: mdi:dishwasher
    options:
      - dirty
      - running
      - clean
      - open

notify:
  - name: dmitry
    platform: group
    services:
      - service: ios_krasnoukhov_iphone
  - name: daria
    platform: group
    services:
      - service: ios_darias_iphone
  - name: people
    platform: group
    services:
      - service: ios_krasnoukhov_iphone
      - service: ios_darias_iphone

ios:
  push:
    categories:
      - name: start-vacuum
        identifier: start_vacuum
        actions:
          - identifier: START_VACUUM
            title: Start cleaning

plant:
  calathea:
    sensors:
      moisture: sensor.miflora_calathea_moisture
      battery: sensor.miflora_calathea_battery
      temperature: sensor.miflora_calathea_temperature
      conductivity: sensor.miflora_calathea_conductivity
      brightness: sensor.miflora_calathea_light
    min_moisture: 18
    max_moisture: 65
    min_battery: 17
    min_conductivity: 150
    max_conductivity: 1000
    min_temperature: 12
    max_temperature: 34
    min_brightness: 700

fan:
  - platform: xiaomi_miio
    host: 192.168.1.24
    token: !secret air_purifier_token
    name: air-purifier
    model: zhimi.airpurifier.mc1

panel_iframe:
  unifi:
    title: Unifi
    icon: mdi:web
    url: https://192.168.1.2:8443/
  pi_hole:
    title: Pi-hole
    icon: mdi:close-octagon-outline
    url: http://192.168.1.2/admin/
  z2ma:
    title: Zigbee2MqttAssistant
    icon: mdi:zigbee
    url: http://192.168.1.2:8881/
  roborock:
    title: Roborock
    icon: mdi:robot-vacuum
    url: http://192.168.1.25/
  esphome:
    title: ESPhome
    icon: mdi:memory
    url: http://192.168.1.2:6052/
