default_config:
group: !include groups.yaml
automation: !include automations.yaml
frontend:
  themes: !include_dir_merge_named themes
homeassistant:
  customize: !include customize.yaml

datadog:
discovery:
smartir:
browser_mod:
pi_hole:
  host: 192.168.1.2:8882
tts:
  - platform: google_translate
lovelace:
  mode: yaml
recorder:
  db_url: !secret db_url
  exclude:
    entities:
      - sensor.time
      - sensor.date
      - sensor.zigbee_map
      - sensor.tv_power
      - sensor.washer_power
      - sensor.dishwasher_power
      - sensor.boiler_power
      - sensor.roborock_map
      - automation.home_assistant_cron
      - group.all_turnable_entities

influxdb:
  database: homeassistant
  username: homeassistant
  password: !secret influxdb_password

mqtt:
  discovery: true
  broker: 192.168.1.2
  birth_message:
    topic: hass/status
    payload: online
  will_message:
    topic: hass/status
    payload: offline

sensor:
  - platform: mqtt
    name: miscale_weight
    state_topic: support/miscale/weight/kg
    value_template: >-
      {{ value|float }}
    unit_of_measurement: kg
    force_update: true
  - platform: mqtt
    name: zigbee_state
    state_topic: zigbee2mqtt/bridge/state
  - platform: mqtt
    name: zigbee_map
    state_topic: zigbee2mqtt/bridge/networkmap/raw
    value_template: >-
      {{ now().strftime('%Y-%m-%d %H:%M:%S') }}
    json_attributes_topic: zigbee2mqtt/bridge/networkmap/raw
  - platform: template
    sensors:
      krasnoukhov_weight:
        friendly_name: krasnoukhov-weight
        unit_of_measurement: kg
        value_template: >-
          {% set value = states('sensor.miscale_weight') %}
          {%- if value|float >= 70 and is_state('person.dmitry', 'home') -%}
            {{ value }}
          {%- else -%}
            {{ states('sensor.krasnoukhov_weight') }}
          {%- endif -%}
      darianiff_weight:
        friendly_name: darianiff-weight
        unit_of_measurement: kg
        value_template: >-
          {% set value = states('sensor.miscale_weight') %}
          {%- if value|float < 70 and value|float > 30 and is_state('person.daria', 'home') -%}
            {{ value }}
          {%- else -%}
            {{ states('sensor.darianiff_weight') }}
          {%- endif -%}
      tv_power:
        friendly_name: tv-power
        unit_of_measurement: watt
        value_template: |
          {{ state_attr('switch.livingroom_outlet_tv', 'current_power_w')|float }}
      washer_power:
        friendly_name: washer-power
        unit_of_measurement: watt
        value_template: |
          {{ state_attr('switch.bathroom_outlet_washer', 'current_power_w')|float }}
      washer_state:
        friendly_name: washer-state
        icon_template: |
          {% if is_state('input_select.washer_status', 'clean') %}
            mdi:home-alert
          {% else %}
            mdi:washing-machine
          {% endif %}
        value_template: |
          {{ states('input_select.washer_status')|capitalize }}
      dishwasher_power:
        friendly_name: dishwasher-power
        unit_of_measurement: watt
        value_template: |
          {{ state_attr('switch.kitchen_outlet_dishwasher', 'current_power_w')|float }}
      dishwasher_state:
        friendly_name: dishwasher-state
        icon_template: |
          {% if is_state('input_select.dishwasher_status', 'clean') %}
            mdi:home-alert
          {% else %}
            mdi:dishwasher
          {% endif %}
        value_template: |
          {{ states('input_select.dishwasher_status')|capitalize }}
      someone_arrived_home:
        friendly_name: someone-arrived-home
        value_template: |
          {{ (as_timestamp(now()) - as_timestamp(state_attr('automation.entrance_door_open', 'last_triggered'))) < 600 }}
      boiler_power:
        friendly_name: boiler-power
        unit_of_measurement: watt
        value_template: |
          {{ state_attr('switch.bathroom_outlet_boiler', 'current_power_w')|float }}
      boiler_state:
        friendly_name: boiler-state
        value_template: >-
          {% if states('sensor.boiler_power')|float > 0 %}Heating{% else %}Ready{% endif %}
  - platform: rest
    resource: http://192.168.1.25/api/map/latest
    name: roborock_map
    json_attributes:
      - image
      - path
      - charger
      - robot
    value_template: "OK"
    scan_interval: 30
  - platform: time_date
    display_options:
      - time
      - date
  - platform: unifigateway
    host: 192.168.1.2
    username: homeassistant
    password: !secret unifi_password
    monitored_conditions:
      - www
      - lan
      - wan
      - wlan
      - alerts
      - firmware

binary_sensor:
  - platform: template
    sensors:
      livingroom_outlet_tv_state:
        value_template: |
          {{ state_attr('switch.livingroom_outlet_tv', 'current_power_w')|float > 5 }}

switch:
  - platform: broadlink
    host: 192.168.1.20
    mac: !secret livingroom_ir_mac
    type: rm_mini
  - platform: broadlink
    host: 192.168.1.21
    mac: !secret livingroom_outlet_tv_mac
    type: sp3
    friendly_name: livingroom-outlet-tv
    scan_interval: 3
  - platform: broadlink
    host: 192.168.1.22
    mac: !secret bathroom_outlet_washer_mac
    type: sp3
    friendly_name: bathroom-outlet-washer
  - platform: broadlink
    host: 192.168.1.23
    mac: !secret kitchen_outlet_dishwasher_mac
    type: sp3
    friendly_name: kitchen-outlet-dishwasher
  - platform: broadlink
    host: 192.168.1.26
    mac: !secret bathroom_outlet_boiler_mac
    type: sp3
    friendly_name: bathroom-outlet-boiler

climate:
  - platform: smartir
    name: livingroom-ac
    unique_id: livingroom_ac
    device_code: 1180
    controller_data: 192.168.1.20
    temperature_sensor: sensor.0x00158d0002f2ed1f_temperature
    humidity_sensor: sensor.0x00158d0002f2ed1f_humidity

media_player:
  - platform: smartir
    name: livingroom-tv
    unique_id: livingroom_tv
    device_code: 1020
    controller_data: 192.168.1.20
    power_sensor: binary_sensor.livingroom_outlet_tv_state

input_select:
  washer_status:
    name: washer-status
    icon: mdi:washing-machine
    options:
      - idle
      - running
      - clean
      - open
  dishwasher_status:
    name: dishwasher-status
    icon: mdi:dishwasher
    options:
      - dirty
      - running
      - clean
      - open

notify:
  - name: dmitry
    platform: group
    services:
      - service: mobile_app_krasnoukhovs_iphone
  - name: daria
    platform: group
    services:
      - service: mobile_app_iphone
  - name: people
    platform: group
    services:
      - service: mobile_app_krasnoukhovs_iphone
      - service: mobile_app_iphone

plant:
  calathea1:
    sensors:
      moisture: sensor.miflora_calathea1_moisture
      battery: sensor.miflora_calathea1_battery
      temperature: sensor.miflora_calathea1_temperature
      conductivity: sensor.miflora_calathea1_conductivity
      brightness: sensor.miflora_calathea1_light
    min_moisture: 18
    max_moisture: 65
    min_battery: 17
    min_conductivity: 150
    max_conductivity: 1000
    min_temperature: 12
    max_temperature: 34
  calathea2:
    sensors:
      moisture: sensor.miflora_calathea2_moisture
      battery: sensor.miflora_calathea2_battery
      temperature: sensor.miflora_calathea2_temperature
      conductivity: sensor.miflora_calathea2_conductivity
      brightness: sensor.miflora_calathea2_light
    min_moisture: 18
    max_moisture: 65
    min_battery: 17
    min_conductivity: 150
    max_conductivity: 1000
    min_temperature: 12
    max_temperature: 34
  nephrolepis:
    sensors:
      moisture: sensor.miflora_nephrolepis_moisture
      battery: sensor.miflora_nephrolepis_battery
      temperature: sensor.miflora_nephrolepis_temperature
      conductivity: sensor.miflora_nephrolepis_conductivity
      brightness: sensor.miflora_nephrolepis_light
    min_moisture: 15
    max_moisture: 60
    min_battery: 17
    min_conductivity: 350
    max_conductivity: 1500
    min_temperature: 10
    max_temperature: 32
  hatiora:
    sensors:
      moisture: sensor.miflora_hatiora_moisture
      battery: sensor.miflora_hatiora_battery
      temperature: sensor.miflora_hatiora_temperature
      conductivity: sensor.miflora_hatiora_conductivity
      brightness: sensor.miflora_hatiora_light
    min_moisture: 7
    max_moisture: 50
    min_battery: 17
    min_conductivity: 100
    max_conductivity: 1000
    min_temperature: 5
    max_temperature: 35
  veggies:
    sensors:
      moisture: sensor.miflora_veggies_moisture
      battery: sensor.miflora_veggies_battery
      temperature: sensor.miflora_veggies_temperature
      conductivity: sensor.miflora_veggies_conductivity
      brightness: sensor.miflora_veggies_light
    min_moisture: 15
    max_moisture: 60
    min_battery: 17
    min_conductivity: 350
    max_conductivity: 2000
    min_temperature: 5
    max_temperature: 35

fan:
  - platform: xiaomi_miio
    host: 192.168.1.24
    token: !secret air_humidifier_token
    name: air-humidifer
    model: zhimi.humidifier.ca1

panel_iframe:
  unifi:
    title: Unifi
    icon: mdi:web
    url: https://192.168.1.2:8443/
  pi_hole:
    title: Pi-hole
    icon: mdi:close-octagon-outline
    url: http://192.168.1.2:8882/admin
  z2ma:
    title: Zigbee2MqttAssistant
    icon: mdi:zigbee
    url: http://192.168.1.2:8881/
  roborock:
    title: Roborock
    icon: mdi:robot-vacuum
    url: http://192.168.1.25/
  esphome:
    title: ESPhome
    icon: mdi:memory
    url: http://192.168.1.2:6052/
  grafana:
    title: Grafana
    icon: mdi:monitor-dashboard
    url: http://192.168.1.2:8883/
